<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.talkingdata.dmpplus.dao.AppIntroductionMapper">
  <resultMap id="BaseResultMap" type="com.talkingdata.dmpplus.dao.entity.AppIntroduction">
    <constructor>
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="app_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.talkingdata.dmpplus.dao.entity.AppIntroduction">
    <constructor>
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="app_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="context" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, app_id, title
  </sql>
  <sql id="Blob_Column_List">
    context
  </sql>
  <select id="selectByAppId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from app_introduction
    where app_id = #{appId,jdbcType=VARCHAR}
  </select>
</mapper>